<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alascoray.ayo.dsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aim_account"
        android:label="@string/app_name"
        android:logo="@drawable/aim_account"
        android:roundIcon="@drawable/aim_account"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrivacyActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="DSAPP"
            android:theme="@style/myTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".productActivity"
            android:label="OUR PRODUCTS"
            android:theme="@style/myTheme" />
        <activity
            android:name=".landingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".accountActivity"
            android:label="ACCOUNT LINKING"
            android:parentActivityName=".landingActivity" />
        <activity
            android:name=".webPageActivity"
            android:parentActivityName=".landingActivity" />
        <activity
            android:name=".testimonialsActivity"
            android:label="TESTIMONY"
            android:parentActivityName=".landingActivity"
            android:theme="@style/myTheme" />
        <activity
            android:name=".addCommentActivity"
            android:parentActivityName=".testimonialsActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>