<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alascoray.ayo.dsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aim_account"
        android:logo="@drawable/aim_account"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aim_account"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.alascoray.ayo.dsapp.MainActivity"
            android:label="DSAPP"
            android:theme="@style/myTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alascoray.ayo.dsapp.productActivity"
            android:label="OUR PRODUCTS"
            android:theme="@style/myTheme" />
        <activity
            android:name="com.alascoray.ayo.dsapp.landingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.alascoray.ayo.dsapp.accountActivity"
            android:label="ACCOUNT LINKING"
            android:parentActivityName="com.alascoray.ayo.dsapp.landingActivity" />
        <activity android:name="com.alascoray.ayo.dsapp.webPageActivity"
            android:parentActivityName="com.alascoray.ayo.dsapp.landingActivity"/>
        <activity
            android:name="com.alascoray.ayo.dsapp.testimonialsActivity"
            android:label="TESTIMONY"
            android:parentActivityName="com.alascoray.ayo.dsapp.landingActivity"
            android:theme="@style/myTheme" />
        <activity android:name="com.alascoray.ayo.dsapp.addCommentActivity"
            android:parentActivityName="com.alascoray.ayo.dsapp.testimonialsActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>